.colour__container {
  align-items: center;
  margin-bottom: 30px;
  padding: 15px;
  text-transform: lowercase;
  width: 100%;
}
  @media (min-width: 425px) {
    .colour__container {
      display: flex;
      margin-bottom: 0;
      padding: 0;
      width: auto;
    }
  }

.colour__set-primary,
.colour__set-secondary,
.colour__buttons {
  align-items: center;
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 5px;
  padding: 15px;
  transition: background 0.3s ease-in-out;
}
  @media (min-width: 425px) {
    .colour__set-primary,
    .colour__set-secondary,
    .colour__buttons {
      width: 200px;
    }
    .colour__set-secondary {
      order: 2;
    }
  }

.colour__set-primary[data-colour="red"],
.button[data-colour="red"]:hover,
.button[data-colour="red"]:active {
    background-color: var(--colour-red);
}

.colour__set-primary[data-colour="green"],
.button[data-colour="green"]:hover {
    background-color: var(--colour-green);
}

.colour__set-primary[data-colour="blue"],
.button[data-colour="blue"]:hover {
    background-color: var(--colour-blue);
}

.colour__set-secondary[data-colour="cyan"],
.button[data-colour="cyan"]:hover {
    background-color: var(--colour-cyan);
}

.colour__set-secondary[data-colour="magenta"],
.button[data-colour="magenta"]:hover {
    background-color: var(--colour-magenta);
}

.colour__set-secondary[data-colour="yellow"],
.button[data-colour="yellow"]:hover {
    background-color: var(--colour-yellow);
}
