html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.title__primary {
  animation: fadein 1s;
  font-family: 'Roboto', sans-serif;
  font-size: 102px;
  font-weight: 100;
  margin: 20px 15px;
  text-align: center;
  transition: transform 0.2s ease;
}
  .title__primary:hover {
    transform: scale(1.05);
  }
